@font-face {
	font-family: font1;
	src: url("../font/valeria/ValeriaBoldGrunge.ttf");
}

body{
	margin:0 auto;
	background-image:url("../img/geochange.gif");
	background-image: opacity(0.70);
	width:50%;
	text-align:center;
	background-size: cover;
}
#score{
	display:none;
	width:200px;
	height:200px;
	border:15px solid black;
}

button.checkanswers{
	right:50px;
	position:absolute;
	padding:10px;
}
.quiz-title{
	font-family: font1;
	font-size:100px;
}

.questionIt{
	font-family: font1;
	font-size:30px;
}