@font-face {
	font-family: font1;
	src: url("../font/valeria/ValeriaBoldGrunge.ttf");
}

body{
	margin:0 auto;
	background-image:url("../img/geochange.gif");
	background-attachment: fixed;
	background-image: opacity(0.70);
	width:50%;
	text-align:center;
	background-size: cover;
}
#score{
	display:none;
	width:200px;
	height:200px;
	border:15px .5px solid white;
	margin:0 auto;
	background-image: url("../img/box.jpg");
	background-size: cover;
}
.checkAnswers{
	margin:0 auto;
	color:white;
	background-color: #000;
	font-family: font1;
	font-size:35px;
	padding:10px;
	border-radius: 40px;
}
.quizWrapper{
	background-color: rgba(255, 255, 255, .6);
	/*width: fit-content; will fit elements to content or background*/
}
.quiz-title{
	font-family: font1;
	font-size:100px;
}
.imgs{
	margin:0 auto;
	display:inline-block;
}
.bottom{
	padding:10px;
}
input.userGuess{
	padding:20px;
	border-radius: 20px;
	border:none;
	background:#000;
	color:white;
	font-size:25px;
}
.questionIt{
	font-family: font1;
	font-size:30px;
}